<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashish.alegria"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.ashish.alegria.Home"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ashish.alegria.AlegriaBody"
            android:label="@string/title_activity_alegria_body"
            android:parentActivityName="android.support.v4.app.FragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />

            <intent-filter>
                <action android:name="com.ashish.alegria3.ALEGRIABODY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ashish.alegria.EventActivity"
            android:label="@string/title_activity_event" >
            <intent-filter>
                <action android:name="com.ashish.alegria3.EVENTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ashish.alegria.GridViewActivity"
            android:label="@string/title_activity_grid_view" >
        </activity>
        <activity
            android:name="com.ashish.alegria.FullScreenViewActivity"
            android:label="@string/title_activity_full_screen_view" >
        </activity>
        <activity
            android:name="com.ashish.alegria.EventCategoryActivity"
            android:label="@string/title_activity_event_category"
            android:parentActivityName="com.ashish.alegria.AlegriaBody" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashish.alegria3.AlegriaBody" />
        </activity>
    </application>

</manifest>
